sbsc/Web References/serviceprocess/WebserviceFacade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://webservice.service.hisframework.sinobest.cn" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://webservice.service.hisframework.sinobest.cn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>WebserviceFacade</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.service.hisframework.sinobest.cn">
      <xs:element name="process">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="instr" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="processResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="processRequest">
    <wsdl:part name="parameters" element="ns:process" />
  </wsdl:message>
  <wsdl:message name="processResponse">
    <wsdl:part name="parameters" element="ns:processResponse" />
  </wsdl:message>
  <wsdl:portType name="WebserviceFacadePortType">
    <wsdl:operation name="process">
      <wsdl:input wsaw:Action="urn:process" message="ns:processRequest" />
      <wsdl:output wsaw:Action="urn:processResponse" message="ns:processResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebserviceFacadeSoap11Binding" type="ns:WebserviceFacadePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="process">
      <soap:operation soapAction="urn:process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebserviceFacadeSoap12Binding" type="ns:WebserviceFacadePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="process">
      <soap12:operation soapAction="urn:process" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebserviceFacadeHttpBinding" type="ns:WebserviceFacadePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="process">
      <http:operation location="process" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebserviceFacade">
    <wsdl:port name="WebserviceFacadeHttpSoap11Endpoint" binding="ns:WebserviceFacadeSoap11Binding">
      <soap:address location="http://192.168.102.188/web/services/WebserviceFacade.WebserviceFacadeHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WebserviceFacadeHttpSoap12Endpoint" binding="ns:WebserviceFacadeSoap12Binding">
      <soap12:address location="http://192.168.102.188/web/services/WebserviceFacade.WebserviceFacadeHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WebserviceFacadeHttpEndpoint" binding="ns:WebserviceFacadeHttpBinding">
      <http:address location="http://192.168.102.188/web/services/WebserviceFacade.WebserviceFacadeHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>